
@{
    ViewBag.Title = "Index";
}

<div class="h-100 justify-content-center align-items-center">
    <div>
        Welcome to the ChatOn
    </div>

    <div>
        <a href="@Url.Action("Index", "Home")">
                <button type="button" class="btn btn-outline-primary">Register</button>
            </a>
    </div>
</div>

