
@{
    ViewBag.Title = "Index";
}

<div>
    <div class="welcome">
        <div class="head">Welcome</div>
        <div class="middle">to the</div>
        <div class="end">Chat<span class="on">ON</span></div>
    </div>

    <a href="@Url.Action("Register")"><button class="reg">Register</button></a>
</div>

