@model ChatServer.Models.RegisterModel

@{
    ViewBag.Title = "Register";
}

<div class="registerform">
    <form action="@Url.Action("Index", "Home")" method="post">
        <label asp-for="Nickname"></label>
        <input asp-for="Nickname"/>
        <span asp-validation-for="Nickname"></span>
        
        <label asp-for="Password"></label>
        <input asp-for="Password"/>
        <span asp-validation-for="Password"></span>
        
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword"/>
        <span asp-validation-for="ConfirmPassword"></span>
        
        <button type="submit">Register</button>
    </form>
</div>
